h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;

  padding: 0;

  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;

  max-width: 100%;

  height: auto;
}

body {
  font-family: "Roboto", sans-serif;

  color: #434455;

  background-color: #ffffff;
}

a {
  text-decoration: none;

  color: inherit;
}

.container {
  width: 1158px;

  margin: 0 auto;

  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;

  align-items: center;

  justify-content: space-between;
}

.nav {
  display: flex;

  align-items: center;

  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;

  font-weight: 700;

  font-size: 18px;

  line-height: 1.17;

  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: #4d5ae5;

  margin-right: 0px;
}

.logo-studio-header {
  color: #2e2f42;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.nav-list {
  display: flex;

  gap: 40px;

  align-items: center;
}

.nav-link {
  font-weight: 500;

  line-height: 1.5;

  letter-spacing: 0.02em;

  padding: 24px 0;

  display: block;
}

.address {
  margin-left: auto;

  font-style: normal;
}

.address-list-container {
  display: flex;

  gap: 40px;
}

.address-link {
  line-height: 1.5;

  letter-spacing: 0.02em;
}

.hero {
  background-color: #2e2f42;

  padding: 188px 0;
}

.hero-title {
  font-size: 56px;

  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #ffffff;

  text-align: center;

  max-width: 496px;

  margin: 0 auto 48px;
}

.order-btn {
  display: block;

  min-width: 169px;

  height: 56px;

  border: none;

  border-radius: 4px;

  margin: 0 auto;

  font-weight: 500;

  letter-spacing: 0.04em;

  color: #ffffff;

  background-color: #4d5ae5;

  cursor: pointer;
}

.features-list {
  display: flex;

  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  font-weight: 500;

  font-size: 20px;

  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #2e2f42;

  margin-bottom: 8px;
}

.features-text {
  line-height: 1.5;

  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;

  line-height: 1.11;

  letter-spacing: 0.02em;

  text-align: center;

  color: #2e2f42;

  margin-bottom: 72px;
}

.team-list {
  display: flex;

  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);

  background-color: #ffffff;

  border-radius: 0 0 4px 4px;
}

.team-info {
  padding: 32px 0;

  text-align: center;
}

.team-subtitle {
  font-weight: 500;

  font-size: 20px;

  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #2e2f42;

  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;

  letter-spacing: 0.02em;
}

.portfolio-title {
  font-size: 36px;

  line-height: 1.11;

  letter-spacing: 0.02em;

  text-align: center;

  color: #2e2f42;

  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;

  flex-wrap: wrap;

  gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);

  border-bottom: 1px solid #e7e9fc;
}

.portfolio-info {
  padding: 32px 16px;
}

.portfolio-subtitle {
  font-weight: 500;

  font-size: 20px;

  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #2e2f42;

  margin-bottom: 8px;
}

.portfolio-text {
  line-height: 1.5;

  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;

  padding: 100px 0;
}

.footer .logo {
  display: inline-block;

  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;

  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #f4f4fd;
}

.visually-hidden {
  position: absolute;

  width: 1px;

  height: 1px;

  margin: -1px;

  border: 0;

  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);

  clip: rect(0 0 0 0);

  overflow: hidden;
}
